// Colors

$white: #ffffff;
$black: #000000;

$light-gray: #f3f3f3;

$main-color-1: #f15623;

$light-main-color-2: #6a6e8e;
$main-color-2: #5e6382;
$dark-main-color-2: #4c4f5f;

// Fonts

$os: 'Open Sans', sans-serif;
$ss: 'Source Sans', sans-serif;