// Colors

$white: #ffffff;
$black: #000000;

$very-light-gray: ;
$light-gray: ;
$gray: ;
$dark-gray: ;
$very-dark-gray: ;

$very-light-: ;
$light-: ;
$: ;
$dark-: ;
$very-dark-: ;

$very-light-: ;
$light-: ;
$: ;
$dark-: ;
$very-dark-: ;

// Fonts

$font1: '', sans-serif;
$font2: '', sans-serif;